{% load bootstrap4 %}
<div id="class-form">
  <form action="{% url 'targets:detail' target.id %}" method="GET" class="form">
    {% csrf_token %}
    <table style="width:50%">
      <tr>
        <td>
          <label for="id_classification"><strong>Classification</strong></label>
        </td>
        <td>{{ current_classification }}</td>
        </tr>
      <tr>
        <td>
          <select
          id="id_text_class"
          type="text"
          name="text_class"/>
          {% for class in classifications %}
            <option value="{{class}}">{{class}}</option>
          {% endfor %}
          </select>
        </td>
        <td>
          <input
          id="id_classification"
          type="select"
          name="classification"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="id_category"><strong>Category</strong></label>
        </td>
        <td>{{ current_category }}</td>
        </tr>
      <tr>
        <td>
          <select
          id="id_text_category"
          type="text"
          name="text_category"/>
          {% for cat in categories %}
            <option value="{{cat}}">{{cat}}</option>
          {% endfor %}
          </select>
        </td>
        <td>
          <input
          id="id_category"
          type="text"
          name="category"
          value="" />
        </td>
      </tr>
    </table>
    {% buttons %}
        <input type="submit" class="btn btn-primary" value="Update class or category">
    {% endbuttons %}
  </form>
</div>