<div class="row">
    <div class="col-md-8">
        <h4>Gaia Data</h4>
    </div>
</div>

<div class="row" style="border:1px solid black; overflow: scroll">
    <div class="col-md-8">
        <h5>Neighbouring stars</h5>
    </div>
     <table class="table table-striped">
         <thead>
         <tr>
             <th>Gaia_Source_ID</th>
             <th>G [mag]</th>
             <th>BP [mag]</th>
             <th>RP [mag]</th>
             <th>BP-RP [mag]</th>
             <th>J [mag]</th>
             <th>H [mag]</th>
             <th>K [mag]</th>
             <th>Reddening (BP-RP) [mag]</th>
             <th>Extinction (G) [mag]</th>
             <th>Distance [pc]</th>
             <th>Teff [K]</th>
             <th>log(g)</th>
             <th>[Fe/H]</th>
             <th>RUWE</th>
             <th>Separation [arcsec]</th>
         </tr>
         </thead>
         <tbody>
         {% for star in neighbours %}
         <tr>
             <td>{{star.Gaia_Source_ID}}</td>
             <td>{{star.Gmag}}&#8723;{{star.Gmag_error}}</td>
             <td>{{star.BPmag}}&#8723;{{star.BPmag_error}}</td>
             <td>{{star.RPmag}}&#8723;{{star.RPmag_error}}</td>
             <td>{{star.BP_RP}}&#8723;{{star.BP_RP_error}}</td>
             <td>{{star.Jmag}}</td>
             <td>{{star.Hmag}}</td>
             <td>{{star.Kmag}}</td>
             <td>{{star.Reddening_BP_RP}}</td>
             <td>{{star.Extinction_G}}</td>
             <td>{{star.Distance}}</td>
             <td>{{star.Teff}}</td>
             <td>{{star.logg}}</td>
             <td>{{star.Fe_H}}</td>
             <td>{{star.RUWE}}</td>
             <td>{{star.Separation}}</td>
         </tr>
         {% empty %}
            <tr>
          <td colspan="16">
            No nearby stars identified
          </td>
        </tr>
         {% endfor %}
         </tbody>
     </table>

</div>
