{% if pylima_model_products %}
    <div class="pylima-models-list">
        <h3>pyLIMA Models</h3>
        <ul>
            {% for product in pylima_model_products %}
                <li>
                    <a href="{{ product.data.url }}" target="_blank">{{ product.get_file_name }}</a> (uploaded: {{ product.created|date:"D, d M Y" }})
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>No pyLIMA Model data products available for this target.</p>
{% endif %}

